<div class="row">
  <div class="col-sm-3 pull-right">
    <select #class (change)="0" class="form-control">
      <option value="red">red</option>
      <option value="blue">blue</option>
      <option value="green">green</option>
    </select>
    </div>
  </div>
<div class="row">
  <h3 class="{{class.value}}">Top Heroes</h3>
  <div class="grid grid-pad">
    <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-sm-3">
      <div class="module hero">
        <h4>{{hero.name}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
<h3 class="{{class.value}}">Persons List</h3>
  <div class="grid grid-pad">
    <div *ngFor="let person of people" class="col-sm-3">
      <div class="module hero">
       <h4>{{person.name}} - {{person.height}}</h4>
     </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="grid grid-pad">
    <puzzle></puzzle>
  </div>
</div>
